extends base

block content
  main(class='text-neutral w-4/5 mx-auto pt-12')
    div.mb-10
      h1.font-medium Benvenuto #{user.nominativo}
      h4.font-bold.text-4xl Camere

    div.grid.grid-cols-4.gap-8
      form.space-y-3
        h4.text-xl.font-bold.mb-5 Aggiungi camera
        div.flex.justify-between
          label(for="numero" class="font-medium") numero
          input#numero(type="number", name="numero" class="border w-20" min="1" required)
        div.flex.justify-between
          label(for="tipologia" class="font-medium") tipologia
          select#tipologia(name="tipologia" class="border" required)
            option(value="singola" default) singola
            option(value="doppia") doppia
            option(value="tripla") tripla
            option(value="quadrupla") quadrupla

        div.flex.justify-between
          label(for="prezzo_giornaliero" class="font-medium") prezzo/giorno
          input#prezzo_giornaliero(type="number", name="prezzo_giornaliero" class="border w-20" min="0" required)

        div.flex.justify-between.pb-5
          label(for="sconto" class="font-medium") sconto %
          input#sconto(type="number", name="sconto" class="border w-20" min="0" max="100" required)

        div.flex.justify-between
          button(type="submit", class="cursor-pointer font-medium border bg-neutral-800 py-2 pb-3 text-white w-full rounded-md") Aggiungi

      div.border.col-span-3.px-4.rounded
        div.grid.grid-cols-5.gap-5.py-2.font-medium.border-b
          p numero
          p tipologia
          p prezzo giornaliero
          p sconto %
          p 

        div#list

  script(src="js/camere.js")
