extends base

block content
  main(class='text-neutral w-4/5 mx-auto pt-12')
    div.mb-12
      h1.font-medium Benvenuto #{user.nominativo}
      h4.font-bold.text-4xl Dashboard

    div.grid.grid-cols-2.gap-8.font-medium.text-lg
      div.flex.items-center.justify-center.bg-gray-50.rounded-md.border
        a(href='/prenotazioni' class='block w-full p-6 text-center underline hover:bg-gray-100 transition') Le tue prenotazioni
      
      div.flex.items-center.justify-center.bg-gray-50.rounded-md.border
        a(href='/camere' class='block w-full py-6 text-center underline hover:bg-gray-100 transition') Le tue camere
      
      //- div.flex.items-center.justify-center.bg-gray-50.rounded-md.border
      //-   a(href='/route' class='block w-full py-6 text-center underline hover:bg-gray-100 transition') Il tuo profilo

      div.flex.items-center.justify-center.bg-gray-50.rounded-md.border.col-span-2
        a(href='/logout' class='block w-full py-6 text-center underline hover:bg-gray-100 transition') Sign out