extends base

block content
  main.h-screen.flex.items-center.justify-center
    div.p-5.w-96.rounded-md.bg-gray-50
      h2.text-xl.font-semibold.mb-4 Forgot your password
      form
        label(for='email' class='font-semibold') Inserisci la tua email
        div.flex.justify-between.mb-4
          input(type='email', id="email", name='email', class="w-full py-2 px-4 rounded", placeholder='you@example.com', required)
        input(type="submit", value="send email" class="cursor-pointer rounded border w-full py-2 bg-neutral-800 text-white")

      p#result.mt-4
  script(src="js/forgotPassword.js") 