extends base

block content
  main.h-screen.flex.flex-col.items-center.justify-center.gap-5
    h1.text-3xl.font-bold.text-neutral-800 Benvenuto
    div.space-x-5.text-lg
      a(href="/login", rel="noopener noreferrer" class="underline") login
      a(href="/signup", rel="noopener noreferrer" class="underline") signup