extends base

block content
  main.h-screen.flex.items-center.justify-center
    div.p-5.w-96.rounded-md.bg-gray-50
      h2.text-xl.font-semibold.mb-4 Log into your account
      form
        div.flex.justify-between.mb-2
          label(for='email' class='font-semibold') Email
          input(type='email', id="email", name='email', placeholder='you@example.com', required)
        div.flex.justify-between.mb-2
          label(for='password' class='font-semibold') Password
          input(type='password', id="password", name='password', placeholder='••••••••', required, minlength='8')
        div.mt-4
          input(type="submit", value="Login" class="cursor-pointer border w-full py-2")

      a(href="/forgot-password", rel="noopener noreferrer").underline forgot password?

      br
      div.text-end
        a(href="/signup", rel="noopener noreferrer") signup
      
  script(src="js/login.js")