extends base

block content
  main(class='text-neutral w-4/5 mx-auto pt-12')
    div.mb-10
      h1.font-medium Benvenuto #{user.nominativo}
      h4.font-bold.text-4xl Prenotazioni

    div.grid.grid-cols-4.gap-8
      form.space-y-3
        h4.text-xl.font-bold.mb-5 Aggiungi prenotazione
        div.flex.justify-between
          label(for="nominativo" class="font-medium") nominativo
          input#nominativo(type="text", name="nominativo" class="border w-40" required)

        div.flex.justify-between
          label(for="email" class="font-medium") email
          input#email(type="email", name="email" class="border w-40" required)

        div.flex.justify-between
          label(for="camera" class="font-medium") camera
          select#camera(name="camera" class="border w-40" required)

        div.flex.justify-between
          label(for="checkin" class="font-medium") check-in
          input#checkin(type="date", name="checkin" class="border w-40" required)

        div.flex.justify-between
          label(for="checkout" class="font-medium") check-out
          input#checkout(type="date", name="checkout" class="border w-40" required)

        div.flex.justify-between
          button(type="submit", class="cursor-pointer font-medium border bg-neutral-800 py-2 pb-3 text-white w-full rounded-md") Aggiungi

      div.border.col-span-3.px-4.rounded
        div.grid.grid-cols-6.gap-5.py-2.font-medium.border-b
          p nominativo
          p email
          p check-in
          p check-out
          p prezzo totale
          p 

        div#list

  script(src="js/prenotazioni.js")
