extends base

block content
  main.h-screen.flex.items-center.justify-center
    div.p-5.w-96.rounded-md.bg-gray-50
      h2.text-xl.font-semibold.mb-4 Reset your password
      form
        label(for='password' class='font-semibold') Inserisci la tua nuova password
        div.flex.justify-between.mb-4
          input(type='password', id="password", name='password', class="w-full py-2 px-4 rounded", placeholder='********', required, minlength='8')
        input(type="submit", value="RESET PASSWORD" class="cursor-pointer rounded border w-full py-2 bg-neutral-800 text-white")

      p#result.mt-4
  script(src="/js/resetPassword.js")